.header {
  padding: 50px 0px 7px;
  background-color: #b81726;
  color: white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    font-weight: 400;
    font-size: 50px;
    line-height: 92%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #ededed;
    opacity: 0.8;
  }

  &__content {
    display: flex;
    gap: 117px;
    align-items: center;
  }

  &__menu {
  }

  &__nav {
  }

  &__button {
    cursor: pointer;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #ededed;

    &:active {
      color: #b81726;
    }
  }

  &__link {
  }

  &__button-text {
    font-weight: 400;
    font-size: 24px;
    line-height: 92%;
    letter-spacing: -0.05em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    opacity: 0.8;

    &:active {
      color: #b81726 !important;
    }
  }
}

.menu {
  &__icon {
  }

  &__body {
  }

  &__list {
  }

  &__link {
  }
}
.icon-menu {
}
.nav-header {
  &__list {
    display: flex;
    gap: 70px;
  }

  &__link {
    font-weight: 400;
    font-size: 24px;
    line-height: 92%;
    letter-spacing: -0.05em;
    text-align: center;
    color: #ededed;
    opacity: 0.8;

    &:active {
      color: #b81726;
    }
  }
}

/* ============================================================================== */

@media (max-width: 1060px) {
  .header {
    background-color: #010101;

    &__button {
      display: none;
    }

    &__logo {
      font-weight: 400;
      font-size: 12px;
      line-height: 92%;
      letter-spacing: -0.05em;
      text-transform: uppercase;
      text-align: center;
      color: #ededed;
    }
  }
}

/* ============================================================================== */

.menu {
  display: flex;
  justify-content: center;
  flex: 1 1 auto;
}

@media (max-width: 1060px) {
  .menu {
    flex: 0 0 auto;
  }
}

.menu__body {
  position: relative;
  z-index: 3;
  transition: all 0.5s 0s ease;
}

@media (max-width: 1060px) {
  .menu__body {
    background: url('../../images/header/menu-bg.png') 0 0 / cover no-repeat;
    background-color: #010101;
    transform: translate(0, -100%);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    padding: 100px 0px 20px 0px;
  }

  .menu__body._active {
    transform: translate(0, 0);
  }
}

@media (max-width: 1060px) {
  .menu__list {
    display: block;
    text-align: center;
    margin-top: 80px;
  }
}

@media (max-width: 1060px) {
  .menu__list li {
    margin-top: 60px;
  }
}

@media (max-width: 1060px) {
  .menu__link {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    line-height: 92%;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    text-align: center;
    color: #ededed;
  }
}

@media (max-width: 1060px) {
  .icon-menu {
    position: relative;
    width: 30px;
    height: 17px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.5s 0s ease;
    transition: all 0.5s 0s ease;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    border-radius: 10px;
    background-color: #ededed;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    width: 30px;
  }
}
